Repository igraph/rigraph, pull requests merged in 2025-09, with the labels that each got.

#2008 docs: remove demo
  Makefile-cigraph
  NAMESPACE
  R/demo.R
  _pkgdown.yml
  demo/00Index
  demo/centrality.R
  demo/cohesive.R
  demo/community.R
  demo/crashR.R
  demo/hrg.R
  demo/smallworld.R
  man/igraph_demo.Rd
  man/igraphdemo.Rd
Labels: hackathon-topic :calendar:

#2112 fledge: CRAN pre-release v2.1.99.9900
  CITATION.cff
  DESCRIPTION
  NEWS.md
  cran-comments.md
  src/rinterface.c
  src/rinterface_extra.c
  tools/stimulus/functions-R.yaml
Labels: CRAN release :station:

#2151 chore: autogenerate `igraph_neighbors()`
  R/aaa-auto.R
  R/interface.R
  src/rinterface.c
  src/rinterface_extra.c
  tools/stimulus/functions-R.yaml
Labels: stimulus
